@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden !important;
  width: 100%;
  position: relative;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  z-index: 999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: fixed;
  top: 0;
}

.nav-bar .logo {
  margin: 2rem;
  margin-right: auto;
  font-family: "Permanent Marker", cursive;
}

.nav-bar .logo a {
  text-decoration: none;
  color: white;
}

.nav-bar .menu-toggle {
  display: none;
}

.nav-bar .nav-items {
  -webkit-transform: translateX(calc(100vw - 150%));
          transform: translateX(calc(100vw - 150%));
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
}

.nav-bar .nav-items .nav-item {
  margin: 1.5rem;
  cursor: pointer;
  position: relative;
}

.nav-bar .nav-items .nav-item a {
  color: white;
  text-decoration: none;
}

li.nav-item::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

li.nav-item:hover::after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 700px) {
  .nav-bar {
    position: initial;
  }
  .nav-bar .nav-items {
    background: #1e272e;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav-bar .nav-items .nav-item {
    margin: 2.5rem 0;
    text-decoration: none;
    list-style: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .nav-bar .menu-toggle {
    display: block;
    font-size: 1rem;
    border: 0;
    background: 0;
    padding: 1em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    z-index: 9999;
    margin: 2rem 0;
  }
  .nav-bar .hamburger,
  .nav-bar .hamburger::before {
    content: "";
    display: block;
    background: #ebebd3;
    height: 3px;
    width: 1.75rem;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 500ms, opacity linear 300ms;
    transition: all ease-in-out 500ms, opacity linear 300ms;
  }
  .nav-bar .hamburger::before {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    width: 2.2rem;
  }
  .nav-bar .close {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .open .hamburger {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .open .hamburger::before {
    width: 1.75rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .scroll-lock {
    height: 100%;
    overflow-y: hidden !important;
    width: 100%;
    position: relative;
  }
}

.landing-page {
  height: 100vh;
  background: url("../assests/images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-page svg {
  width: 100vw;
}

.landing-page #cover-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: Filler 0.5s ease forwards 4s;
          animation: Filler 0.5s ease forwards 4s;
}

.landing-page #cover-title mask {
  -webkit-animation: Filler 0.5s ease forwards 4s;
          animation: Filler 0.5s ease forwards 4s;
}

#cover-title path:nth-child(1) {
  stroke-dasharray: 306px;
  stroke-dashoffset: 306px;
  -webkit-animation: lineAnim 1.5s ease forwards 0.3s;
          animation: lineAnim 1.5s ease forwards 0.3s;
}

#cover-title path:nth-child(2) {
  stroke-dasharray: 480px;
  stroke-dashoffset: 480px;
  -webkit-animation: lineAnim 1.5s ease forwards 0.6s;
          animation: lineAnim 1.5s ease forwards 0.6s;
}

#cover-title path:nth-child(3) {
  stroke-dasharray: 600px;
  stroke-dashoffset: 600px;
  -webkit-animation: lineAnim 1.5s ease forwards 0.9s;
          animation: lineAnim 1.5s ease forwards 0.9s;
}

#cover-title path:nth-child(4) {
  stroke-dasharray: 550px;
  stroke-dashoffset: 550px;
  -webkit-animation: lineAnim 1.5s ease forwards 1.2s;
          animation: lineAnim 1.5s ease forwards 1.2s;
}

#cover-title path:nth-child(5) {
  stroke-dasharray: 598px;
  stroke-dashoffset: 598px;
  -webkit-animation: lineAnim 1.5s ease forwards 1.5s;
          animation: lineAnim 1.5s ease forwards 1.5s;
}

#cover-title path:nth-child(6) {
  stroke-dasharray: 498px;
  stroke-dashoffset: 498px;
  -webkit-animation: lineAnim 1.5s ease forwards 1.8s;
          animation: lineAnim 1.5s ease forwards 1.8s;
}

#cover-title path:nth-child(7) {
  stroke-dasharray: 554px;
  stroke-dashoffset: 554px;
  -webkit-animation: lineAnim 1.5s ease forwards 2.1s;
          animation: lineAnim 1.5s ease forwards 2.1s;
}

#cover-title path:nth-child(8) {
  stroke-dasharray: 320px;
  stroke-dashoffset: 320px;
  -webkit-animation: lineAnim 1.5s ease forwards 2.4s;
          animation: lineAnim 1.5s ease forwards 2.4s;
}

#cover-title path:nth-child(9) {
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px;
  -webkit-animation: lineAnim 1.5s ease forwards 2.7s;
          animation: lineAnim 1.5s ease forwards 2.7s;
}

#cover-title path:nth-child(10) {
  stroke-dasharray: 498px;
  stroke-dashoffset: 498px;
  -webkit-animation: lineAnim 1.5s ease forwards 3s;
          animation: lineAnim 1.5s ease forwards 3s;
}

#cover-title path:nth-child(11) {
  stroke-dasharray: 498px;
  stroke-dashoffset: 498px;
  -webkit-animation: lineAnim 1.5s ease forwards 3.3s;
          animation: lineAnim 1.5s ease forwards 3.3s;
}

@-webkit-keyframes lineAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineAnim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes Filler {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes Filler {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@media screen and (max-width: 1000px) {
  svg {
    height: 10vh;
  }
}

@media screen and (max-width: 700px) {
  svg {
    height: 6vh;
  }
}

#about h1 {
  color: #1e272e;
  font-size: 3.5rem;
  text-align: center;
}

.profile-wrapper {
  background: rgba(30, 39, 46, 0.7);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 3.5rem;
  padding: 3rem 3rem 3rem 3rem;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.profile-wrapper p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
  color: white;
}

.profile {
  cursor: pointer;
  width: 350px;
  height: 350px;
}

.profile img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.front,
.back {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}

.front img {
  height: 100%;
}

.front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

.back {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

.profile:hover > .front {
  -webkit-transform: perspective(600px) rotateY(-180deg);
          transform: perspective(600px) rotateY(-180deg);
}

.profile:hover > .back {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
}

@media screen and (max-width: 800px) {
  .profile {
    width: 200px;
    height: 200px;
  }
  .profile img {
    width: 200px;
    height: 200px;
  }
  .front,
  .back {
    width: 200px;
    height: 200px;
  }
  .profile-wrapper {
    margin-top: 0;
  }
  .profile-wrapper p {
    font-size: 1.2rem;
  }
}

#about {
  height: 100vh;
  background: url("../assests/images/about-wall.jpg");
  background-size: cover;
}

.title {
  color: #1e272e;
  font-size: 3.5rem;
  text-align: center;
}

.owl-carousel {
  padding: 4rem;
  text-align: center;
  z-index: 80;
}

.card {
  height: 60vh;
  background: white;
  margin: auto;
  width: 60vw;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  text-align: center;
}

.card a {
  text-decoration: none;
  color: #101010;
}

.card a:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.card .art {
  width: auto;
  height: 87%;
}

.card .bird {
  background: url("../assests/images/bird.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card .pancake {
  background: url("../assests/images/pancake.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card .town {
  background: url("../assests/images/town.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card .portrait {
  background: url("../assests/images/befAfterProtraint.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card .skeleton {
  background: url("../assests/images/skeleton.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card .diamond {
  background: url("../assests/images/diamond.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card .skull {
  background: url("../assests/images/skull.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card .halfFace {
  background: url("../assests/images/half face.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card .infos {
  padding: 14px 24px;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card .infos h2 {
  font-weight: 300;
  color: #101010;
}

.card:hover .infos {
  -webkit-transform: translateY(-85px);
          transform: translateY(-85px);
}

.card:hover .infos a {
  color: #101010 !important;
}

.card:hover .infos .seats,
.card:hover .infos p,
.card:hover .infos .details {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .owl-carousel {
    padding: 4rem 0;
  }
  .card {
    width: 100vw;
  }
}

#work {
  height: 100vh;
  background: url("../assests/images/workcover.jpg");
  background-size: cover;
}

#contact {
  height: 100vh;
  background-image: url("../assests/images/contactCover.jpg");
  background-size: cover;
}

.contact-title {
  color: #1e272e;
  font-size: 3.5rem;
  text-align: center;
  padding: 2.5rem 0 0 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 50%;
  height: 75vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  position: relative;
  padding: 2rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

form input,
form textarea {
  padding: 1.5rem;
  width: 80%;
  outline: none;
  font-family: "Poppins", sans-serif;
  background-color: #eee;
}

form input {
  margin: 5px;
}

form textarea {
  font-size: 0.9rem;
}

form .button {
  margin: 50px 0;
  padding: 1.5rem 1.5rem;
  width: 80%;
  background: #34495e;
  color: white;
}

form .button:focus {
  background: #33696b;
}

@media screen and (max-width: 900px) {
  form {
    width: 100%;
  }
}

.gotop-btn {
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 500;
}

i {
  color: #2d3436 !important;
  font-size: 2.5rem !important;
  background: #2d3436;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  font-size: 0.9rem;
  background: #515151;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .credits {
  font-size: 0.7rem;
}

footer .credits .dev {
  font-size: 0.9rem;
}

footer .developer {
  text-decoration: underline;
}

footer .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .follow a {
  font-size: 1.5rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

footer .follow a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 900px) {
  .gotop-btn {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #contact h1 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=main.css.map */